#initialTitle {
  height: 90vh;
  background-image: url('../../assets/images/initial.png');
  background-size: cover;
}

#initialButtonColored {
  position: absolute;
  top: 580px;
  left: 180px;
  width: 250px;
  height: 60px;
  font-family: 'Solway', serif;
  font-size: 30px;
  border-radius: 50px;
  color: rgb(247, 247, 247, 0.9);
  background: linear-gradient(90deg, #2A60E5 4.98%, #7955EE 100%);
}

#initialDescription {
  position: absolute;
  top: 430px;
  left: 80px;
  width: 455px;
  font-family: 'Solway', serif;
  font-weight: 500;
  font-size: 18px;
  text-align: justify;
  opacity: 0.8;
  color: #f7f7f7;
}